@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
	--logo-color: #ff8400;
	--theme-0: #b86003;
	--theme-1: #eb7d08;
	--theme-2: #f3c89a;
	--theme-3: #e07400;
	--theme-4: #ffe7ce;
}

* {
	outline: none;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

p {
	margin: 0;
}

body {
	display: grid;
	grid-template-columns: 300px 5fr;
	background-color: #eee;
	margin: 0;
	height: 100vh;
}

.header {
	margin: 0;
	padding: 2em;
	min-height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.header > div:first-of-type {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header .logo {
	margin-bottom: 3em;
}

.name {
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	margin: 0;
}

.email {
	font-size: 0.9em;
	color: #777;
	text-align: center;
	margin: 0;
}

.data-container {
	margin-top: 2em;
}

.data-container > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.data-container .main-data {
	margin: 0.5em 0;
	font-weight: 700;
}

.data-container .input-main-data {
	padding: 0.7em 0.5em;
	border: none;
	color: #111;
	width: 100%;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.data-container .input-main-data {
	background-color: #eee;
}

.gender {
	width: 15px;
}

.new-weight,
.sign-out {
	border: none;
	width: 80%;
	padding: 0.7em;
	background-color: var(--theme-3);
	color: #fff;
	cursor: pointer;
	opacity: 0.85;
}

.new-weight {
	width: 100%;
	margin: 1em 0 0 0;
	color: var(--theme-0);
	background-color: transparent;
}

.new-weight:hover {
	background-color: var(--theme-4);
}

.sign-out:hover {
	opacity: 1;
}

.stats {
	min-height: 100%;
	margin: 0;
	padding: 1.5em;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr) 2fr;
	grid-template-areas:
		"weight IMC weightc weightc"
		"muscle water weightc weightc"
		"IMCc IMCc musclec musclec"
		"IMCc IMCc musclec musclec";
}

.card {
	box-shadow: 0 0 10px 1px #ededed;
	outline: 1px solid #eee;
	background-color: #fff;
}

.weight {
	grid-area: weight;
}

.IMC {
	grid-area: IMC;
}

.muscle {
	grid-area: muscle;
	color: rgb(73, 18, 150);
}

.water {
	grid-area: water;
	color: rgba(18, 99, 150);
}

.weight-chart {
	grid-area: weightc;
}

.IMC-chart {
	grid-area: IMCc;
}

.muscle-water-chart {
	grid-area: musclec;
}

.weight,
.IMC,
.muscle,
.water {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.weight > p:nth-of-type(1),
.IMC > p:nth-of-type(1),
.muscle > p:nth-of-type(1),
.water > p:nth-of-type(1) {
	color: #777;
}

.weight > p:nth-of-type(2),
.IMC > p:nth-of-type(2),
.muscle > p:nth-of-type(2),
.water > p:nth-of-type(2) {
	font-size: 3em;
	font-weight: 700;
}

.weight > p:nth-of-type(3),
.IMC > p:nth-of-type(3) {
	color: #999;
}

.weight-chart,
.IMC-chart,
.muscle-water-chart {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.weight-chart p,
.IMC-chart p,
.muscle-water-chart p {
	align-self: center;
	font-size: 1.3em;
	margin: 0 0 1em 0;
	font-weight: 700;
	border-bottom: 3px solid var(--theme-1);
}

#weight-chart,
#IMC-chart,
#muscle-water-chart {
	width: auto;
	height: auto;
}
