@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
	--logo-color: #ff8400;
	--theme-0: #d47004;
	--theme-1: #eb7d08;
	--theme-2: #f3c89a;
}

* {
	outline: none;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.logo {
	position: absolute;
	top: 20px;
}

.running {
	position: absolute;
	bottom: 0;
	left: 20px;
	width: 450px;
	opacity: 0.5;
}

.cycling {
	position: absolute;
	top: 250px;
	right: 170px;
	width: 250px;
	opacity: 0.5;
}

.sign-in-container {
	border-radius: 0.5em;
	box-shadow: 0 0 10px 1px #ededed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 450px;
	height: 450px;
}

.sign-in-container > p:first-of-type {
	font-weight: 700;
	font-size: 2.5em;
	margin: 0 0 1em 0;
	color: #222;
}

.sign-in-container > input {
	border: none;
	background-color: #efefef;
	padding: 1em;
	margin: 0.5em;
	width: 75%;
	border: 2px solid transparent;
	border-radius: 0.3em;
}

.sign-in-container input:focus {
	border: 2px solid var(--theme-2);
}

.sign-in-container > button {
	border: none;
	padding: 1em;
	background-color: var(--theme-1);
	color: #fff;
	margin: 2em 1em 1em 1em;
	font-weight: 500;
	cursor: pointer;
	border-radius: 0.3em;
	width: 75%;
}

.sign-in-container > button:hover {
	background-color: var(--theme-0);
}

.sign-in-container > p:nth-of-type(2),
.sign-in-container > a {
	margin: 0;
	color: #888;
}

.sign-in-container > a:hover {
	color: #666;
}

@media (max-width: 1400px) {
	.logo {
		transform: scale(0.9);
	}
}

@media (max-width: 1300px) {
	.running {
		width: 400px;
	}

	.cycling {
		width: 200px;
	}
}

@media (max-width: 1200px) {
	.logo {
		transform: scale(0.8);
	}

	.running,
	.cycling {
		display: none;
	}
}

@media (max-width: 700px) {
	.logo {
		top: 10px;
	}
}

@media (max-width: 500px) {
	.sign-in-container {
		box-shadow: none;
		width: 100%;
	}
}

@media (max-width: 470px) {
	.sign-in-container {
		width: 90%;
	}

	.sign-in-container > input,
	.sign-in-container > button {
		width: 80%;
	}
}
